<!DOCTYPE html>

<html ng-app="shortURLApp">

   <head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
     
     
    <script src="app.js"></script>
     <title>Morays Short URL Redirector</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
     <h5>
       Technologies: Node,Express, MongoDB, Mongoose, Javascript,Angular, Html, CSS and ootstrap
     </h5>
   </head>

   <body
      <div class="container">
        <h2>There was an error saving to the database</h2>

 
   </body>


</html>